Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false	
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AlignTrailingComments: true
Cpp11BracedListStyle: true
SpacesInContainerLiterals: false
SpaceBeforeParens: ControlStatements